<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Satisfaction Survey</h1>
  <fieldset>
    <legend>Question 6</legend>
      <p>Rate friendliness/courtesy of this provider?</p>
      <p>On a scale of 1 to 5, where 1 represents least satisfied and 5 represents most satisfied, please mark the box.</p>
      <input type="checkbox" name="" value="question6">1<br>
      <input type="checkbox" name="" value="question6">2<br>
      <input type="checkbox" name="" value="question6">3<br>
      <input type="checkbox" name="" value="question6">4<br>
      <input type="checkbox" name="" value="question6">5<br>
  </fieldset>
    <button type="button">Next</button>
  </body>
  </html>
